body {
    background: rgb(252, 252, 252) url(gambar/img4.png) top center;
}
h1{
    color: rgb(59, 146, 25);
}
p{
    color: rgb(197, 233, 233);
    margin: 20px;
    border: 2px;
    border-radius: 100px 0 0 0;
}